<!DOCTYPE HTML>
<html>
<head>
    <title>Cortoeso | Shorten your url</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
    {% block styles %}
    <style>
    body {
      background-color: #226268;
    }
    .btn-link {
      color: #50dfec;
      text-shadow: none;
    }
    .btn-link:hover {
      color: #000000;
    }
    </style>
    {% endblock styles %}
</head>

<body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
             {% block content %}

            {% endblock content %}      
          </div>
        </div>
      </div>
    </div>
</body>
</html>